header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: rgba(78, 78, 78, 0.986);
}

header h1 {
  padding: 0.5rem 1rem;
  color: rgb(202, 202, 202);
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.weekdays {
  display: flex;
  align-items: center;
}

.calendar-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-image: url("/img/calendar-background.png");
  background-size: cover;
}

.calendar-grid div {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 7em;
}

.calendar-grid div:hover {
  background-color: lightgray;
}

.selectedDay {
  background-color: lightgray;
}

.weekdays,
.calendar-grid {
  text-align: center;
}

.weekdays div,
.calendar-grid div {
  width: calc(100% / 7);
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherContainer {
  text-align: center;
}

.today {
  background-color: gray;
}

.aside-header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside-header h1,
h2 {
  text-align: center;
  margin: 1;
  vertical-align: middle;
}

.item-container {
  display: flex;
}

.prev-date,
.next-date {
  color: #9d9d9d;
}

.holiday {
  color: red;
}

.nationalDay {
  background-image: url('https://cdn.countryflags.com/thumbs/sweden/flag-400.png');
  background-size: 20%;
  background-repeat: no-repeat;
}